/* styles.css */

.page-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-section {
    width: 100%;
    border-radius: 6ch;
    border: 8px solid grey;
    border-style: inset;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: blue;
}

img {
    width: 30%;
    margin-left: 35%;
}

.login {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22pt;
}

.login-section {
    width: 100%;
}

input {
    width: 80%;
    margin-left: 10%;
    border-style: dashed;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid cornflowerblue;
    margin-top: 10%;
    font-size: 13pt;
    line-height: 3%;
}

input:hover {
    border-style: dotted;
    border-radius: 2ch;
    border-bottom: 1px solid cornflowerblue;
    transition-duration: 3s;
}

.pass {
    font-size: 15pt;
    color: grey;
    margin-top: -5%;
    margin-left: 10%;
}

.btn-wrap {
    width: 20%;
    margin-left: 40%;
    margin-top: 20%;
}

button {
    background-color: blue;
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    width: 100%;
    border: none;
    border-radius: 1ch;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

button:hover {
    background-color: cornflowerblue;
    border-radius: 5ch;
    border: 2px solid #3498db;
    transform-origin: 10%;
    transition: all 1s;
    transition-duration: 1s;
    transform-style: unset;
}

.reg ul {
    width: 33%;
    margin-left: 30%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
    position: absolute;
}

li {
    font-size: 13pt;
    color: grey;
}

.regis {
    color: red;
    font-size: 13pt;
    font-weight: 900;
}

/* third page */

.world-holder {
    width: 100%;
}

.logo {
    width: 100%;
    align-items: center;
}

.navigation ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 60%;
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    color: red;
    font-weight: 800;
    font-size: 20pt;
    text-decoration: none;
}

a:hover {
    border-radius: 5ch;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.75s;
}

.booking-place {
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    margin-top: 10%;
    font-weight: 800;
}

.input-wrapper {
    width: 100%;
    font-size: 1pt;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date {
    width: 45%;
    font-size: 30pt;
}

.slot {
    border: solid gray;
    width: 35%;
    margin-top: 10%;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left: solid cornflowerblue;
    padding-bottom: 10%;
    padding-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
}

.appointment {
    font-size: 90pt;
    width: 100%;
    text-align: center;
}

.next {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 18pt;
}

.next:hover {
    background-color: wheat;
    color: #3498db;
    border-radius: 5ch;
    border: 2px solid #3498db;
    transform-origin: 10%;
    transition: all 1s;
    transition-duration: 1s;
    transform-style: unset;
}










@media (min-width:1024px) {
    .page-holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    
    .logo-section {
        width: 30%;
        background-color: blue;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-right: 10%;
    }
    
    img {
        width: 90%;
        margin-left: 15%;
    }
    
    .login {
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20pt;
        margin-left: 40%;
        margin-top: 0%;
    }

    .login-section {
        width: 50%;
    }
    
    input {
        margin-left: 5%;
        width: 80%;
        padding-bottom: 1%;
        font-size: 12pt;
        line-height: 40%;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom: 1px solid cornflowerblue;
    }
    
    input:hover {
        border-style: dotted;
        border-radius: 2ch;
        border-bottom: 1px solid cornflowerblue;
        transition-duration: 3s;
    }
    
    .pass {
        font-size: 12pt;
        color: grey;
        margin-top: -7%;
        margin-left: 5%;
    }
    
    .btn-wrap {
        width: 20%;
        margin-left: 36%;
        margin-top: 20%;
    }
    
    button {
        width: 100%;
        background-color: blue;
        border: none;
        border-radius: 1ch;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14pt;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    
    button:hover {
        background-color: antiquewhite;
        color: blue;
        transition-duration: 2s;
        border-style: dashed;
    }
    
    .reg ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 10%;
        margin-left: 10%;
    }
    
    li {
        font-size: 18pt;
        color: black;
    }

    ul {
        width: 30%;
    }
    
    .regis {
        color: red;
        font-size: 18pt;
        font-weight: 900;
    }

    /* third page */

    .world-holder {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    .navigation ul {
        display: flex;
        text-align: center;
        width: 50%;
    }

    li {
        font-size: 18pt;
    }

    .booking-place {
        width: 100%;
        font-size: 18pt;
    }

    .date {
        font-size: 20pt;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .slot {
        font-size: 18pt;
        margin-top: -1%;
    }

    .next {
        display: block;
        margin-left: 50%;
    }
    
    

}



@media (min-width:768px) {
    .page-holder {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo-section {
        width: 30%;
        padding-top: 25%;
        padding-bottom: 25%;
        border-radius: 3ch;
    }

    .login {
        width: 10%;
        text-align: center;
        font-size: 30pt;
    }

    input {
        width: 70%;
        font-size: 13pt;
    }

    .pass {
        font-size: 18pt;
    }

    button {
        font-size: 18pt;
    }

    .reg ul {
        width: 25%;
    }



/* third page */

world-holder {
    width: 100%;
}

.logo {
    width: 100%;
}

.navigation ul {
    display: flex;
    text-align: center;
    width: 50%;
}

li {
    font-size: 18pt;
}

.booking-place {
    width: 100%;
    font-size: 18pt;
}

.date {
    font-size: 20pt;
    padding-top: 1%;
    padding-bottom: 1%;
}

.slot {
    font-size: 18pt;
    margin-top: -1%;
}

    
}