/* style.css */

.universal-content {
    width: 100%;
}

.navbar {
    height: 80px;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 5px 10px rgba(0,0,0, 0.1);
}

.coy-logo {
    width: 50%;
    margin-left: 2%;
}

.items {
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    margin-left: 28%;
    color:  blue;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.items:hover {
    background-color: white;
}

.coy-logo:hover {
    background-color: white;
    border-radius: 0ch;
}

.nav-but {
    display: none;
    width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    font-weight: 500;
    background-color:  blue;
    color: white;
    border: none;
    border-radius: 1ch;
}

.nav-but:hover {
    background-color: wheat;
    color: #3498db;
    border-radius: 5ch;
    border: 2px solid #3498db;
    transform-origin: 10%;
    transition: all 1s;
    transition-duration: 1s;
    transform-style: unset;
}

.section-one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 98.9%;
}

.heaith-section {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;

}

.health {
    margin-top: 20%;
    position: relative;
    width: 90%;
    letter-spacing: 0.1ch;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 1ch;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    color: white;
}

.line {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}

.word-1 {
    width: 98%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    margin-left: 1%;
}

.word-2 {
    width: 98%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    margin-left: 1%;
    margin-top: -0%;
}

.mark-2 {
    width: 7%;
    margin-top: -2%;
}

.mark {
    width: 7%;
}

.word {
    margin-left: 1%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
}

.btn {
    display: block;
    width: 100%;
    margin-left: 5%;
}

.butt {
    display: block;
    width: 100%;
    border-radius: 1ch;
    padding-top: 8%;
    padding-bottom: 8%;
    border-color: blue;
    color: blue;
}

.butt:hover {
    background-color: white;
    color: #3498db;
    border-bottom-style: groove;
    border-radius: 2ch;
    border: solid #3498db;
    transition-duration: 2s;
    transition: all .55s;
}

.doc-image {
    width: 60%;
    margin-right: 25%;
}

img {
    width: 60%;
    margin-left: 5%;
}

.section-two {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.info-boxes {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.how-it {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50pt;
    font-weight: 800;
    margin-top: 15%;
}

.box-one {
    width: 75%;
    border-radius: 1ch;
    border: 0.1px solid grey;
    padding-bottom: 18%;
    margin-top: 10%;
}

.box-two {
    width: 75%;
    border-radius: 1ch;
    border: 0.1px solid grey;
    padding-bottom: 3%;
    margin-top: 10%;
}

.box-three {
    width: 75%;
    border-radius: 1ch;
    padding-bottom: 1%;
    border: 0.1px solid grey;
    margin-top: 10%;
}

.box-one:hover {
    background-color: cornflowerblue;
    transition-duration: 0.3s;
    cursor: pointer;
    transition: all .55s;
}

.box-two:hover {
    background-color: cornflowerblue;
    transition-duration: 0.2s;
    cursor: pointer;
    transition: all .55s;
}

.box-three:hover {
    background-color: cornflowerblue;
    transition-duration: 0.3s;
    cursor: pointer;
    transition: all .55s;
}


.info-img {
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
}

.info-img-drug {
    width: 22%;
    position: relative;
    border-radius: 10%;
    margin-left: 40%;
    margin-top: 5%;
    border: 2px solid brown;
    margin-bottom: -6%;
    box-shadow: 3px 3px 3px 10px rgba(0,0,0, 0.1);
}

.bold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-weight: 700;
}

.bold-1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-weight: 700;
}

.info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
    opacity: 0.5;
}

.section-three {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.num-one {
    margin-top: 10%;
    width: 40%;
    border-radius: 1ch;
    padding-top: 2%;
    box-shadow: 3px 3px 3px 10px rgba(0,0,0, 0.1);
}

.img-keep {
    width: 30%;
    margin-left: 35%;
    margin-top: 4%;
}

.img-keep-1 {
    width: 30%;
    margin-left: 35%;
    margin-top: 4%;   
}

.dsc {
    width: 100%;
    margin-top: 35%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 30pt;
}

.dsc-1 {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 30pt;
}

.num-one:hover {
    background-color: bisque;
    transition: all .50s;
    transition-duration: 0.5s;
    color: black;
}

.num-two {
    margin-top: 10%;
    width: 40%;
    border-radius: 1ch;
    padding-top: 11%;
    padding-bottom: 11%;
    background-color: blue;
    box-shadow: 3px 3px 3px 10px rgba(0,0,0, 0.1);
}

.num-two:hover {
    background-color: cornflowerblue;
    transition: all .50s;
    transition-duration: 0.5s;
}

.num-three {
    margin-top: 5%;
    width: 40%;
    border-radius: 1ch;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    box-shadow: 3px 3px 3px 10px rgba(0,0,0, 0.1);
}

.num-three:hover {
    background-color: bisque;
    transition: all .50s;
    transition-duration: 0.5s;
    color: black;
}

.appt {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    font-weight: 600;
    color: white;
}

.coy-name {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30%;
}

.big {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55pt;
    font-weight: 900;
}

.small {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    margin-top: -8%;
    opacity: 0.6;
}

.section-four {
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.order-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.order-one {
    margin-top: 15%;
    width: 60%;
    border-radius: 1ch;
    padding-top: 2%;
    padding-bottom: 10%;
    border-radius: 1ch;
    box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.3);
}

.tel {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: blue;
    font-size: 35pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price {
    width: 100%;
    font-size: 28pt;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.star {
    width: 50%;
    margin-left: 25%;
}

.wait {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    opacity: 0.5;
    margin-top: 20%;
}

.min {
    width: 100%;
    text-align: center;
    font-size: 28pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: -5%;
}

.aval {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    margin-top: 20%;
    opacity: 0.5;
}

.hour {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    font-weight: 500;
    margin-top: -5%;
}

.review {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60pt;
    margin-top: 25%;
    font-weight: 900;
}

.rv-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rv-box {
    width: 70%;
    border-radius: 1ch;
    align-content: center;
    box-shadow: 0px 3px 3px 5px rgba(0,0,0, 0.1);
    border-top-style: ridge;
    border-top: 4px solid gold;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 1%;
    margin-top: 15%;
}

.timi {
    height: 180px;
    width: 120px;
    border-radius: 50%;
    border: 4px solid goldenrod;
    margin-left: 40%;
}

.bigger {
    width: 100%;
    text-align: center;
    font-size: 50pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.life {
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25pt;
    color: grey;
}

.twink {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.section-five {
    width: 98%;
    margin-left: 2%;
    align-items: center;
    margin-top: 15%;
}

.contact {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50pt;
    font-weight: 800;
    margin-top: 5%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid blue;
    border-radius: 1ch;
    box-shadow: 1px 3px 3px 6px rgba(0,0,0, 0.3);
    padding-bottom: 5%;
}

input {
    height: 40px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25pt;
    font-weight: 500;
    margin-top: 12%;
    color: grey;
    margin-left: 5%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: dashed;
    border-color: blue;
}

.message {
    height: 40px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25pt;
    font-weight: 500;
    margin-top: 12%;
    margin-left: 5%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: dashed;
    border-color: blue;
}

input:hover {
    background-color: aliceblue;
    color: blue;
}

.message:hover {
    background-color: aliceblue;
    color: blue;
}

.pic-wrapper {
    margin-left: 5%;
    margin-top: 20%;
    width: 100%;
}

.linkup {
    width: 90%;
}

.submit {
    display: block;
    background-color: blue;
    color: red;
    width: 20%;
    margin-left: 40%;
    margin-top: 7%;
    border: none;
    border-radius: 1ch;
}

.submit:hover {
    background-color: wheat;
    transition: all .50s;
    transition-duration: 0.3s;
    color: #3498db;
    border-bottom-style: groove;
    border-radius: 3ch;
    border: solid #3498db;
    transform-origin: 5%;
}

a {
    display: inline-block;
    color: wheat;
    width: 4em;
    padding: 0.3em 0.10em;
    height: fit-content;
    font-size: 14pt;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

span:hover {
    background-color: blue;
    color: cornflowerblue;
    border: 3px solid red;
    border-style: dashed;
    border-radius: 5px solid red;
}

a:hover {
    color: blue;
}
    
a span {
    position: absolute;
    display: block;
}
    
a span:nth-child(1) {
    top: 0;
    left: -50%;
    width: 50%;
    height: 2px;
    background-color: wheat;
    animation: animate1 1s linear infinite;
}
  
@keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 50%;
    }
}
  
a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 50%;
    background-color: wheat;
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
  
@keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 50%;
    }
}
  
a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 50%;
    height: 2px;
    background-color: white;
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
  
@keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 50%;
    }
}
  
a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 50%;
    background-color: wheat;
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
  
@keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 50%;
    }
}

a {
    color: white;
    padding-top: 5%;
    text-decoration: dotted;
  }
  
  .p-menu1{
     height: 100%;
     margin-left: 30%;
  }
  
  .hamburger1 {
    margin-top: 5%;
    height: 40px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: blue;
    width: 100%;
    height: 5px;
    width: 20%;
    margin-top: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-duration: 1s;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 500px;
    width: 500px;
  }
  
  
  /* Menu */
  .menu1 {
    width: 40%;
    background-color: cornflowerblue;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 3px;
    padding: 0;
    list-style: none;
    clear: both;
    width: 20%;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 20px;
    font-size: 30pt;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
    font-size: 30pt;
  }

  .menu1 a:nth-child(2) {
    font-size: 30pt;
  }

  .menu1 a:nth-child(3) {
    font-size: 30pt;
  }

  .menu1 a:nth-child(4) {
    font-size: 30pt;
  }

  .menu1 a:nth-child(5) {
    font-size: 30pt;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1:hover {
    background-color: white;
    color: blue;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }


.section-six {
    width: 100%;
    margin-top: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: blue;
}

.section-six:hover {
    border-radius: 1ch;
}

.white-logo {
    margin-top: 2%;
    margin-left: 35%;
    width: 30%;
}

.footer {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;
    margin-left: 14%;
}

.boldd {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: wheat;
    line-height: 1.5;
}

.links ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
    color: white;
    text-align: center;
    line-height: 1.5;
    margin-right: 10%;
}

ul {
    margin-left: -30%;
}

.ul-1{
    margin-left: -15%;
}

.links-1 {
    margin-left: 2%;
}

.links-1 ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
    color: white;
    font-size: 20pt;
    text-align: center;
    line-height: 1.5;
}

.social-icon {
    width: 10%
}

.copyright {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9pt;
}



@media (min-width: 1024px) {
    .universal-content {
        width: 100%;
    }

    .navbar {
        height: 70px;
        width: 99%;
        padding-right: 1%;
    }

    .items {
        width: 38%;
        font-size: 13pt;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .coy-logo {
        width: 18%;
        margin-left: 2%
    }

    .nav-but {
        display: block;
        width: 100%;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        font-size: 13pt;
    }

    .section-one {
        margin-top: 0%;
        width: 90%;
        margin-left: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .health {
        width: 60%;
        font-size: 16pt;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 5%;
        padding-top: 0.5%;
        padding-bottom: 1%;
        padding-left: 2%;
    }

    .line {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .mark {
        width: 4%;
    }

    .mark-2 {width: 4%;
        margin-top: -7%;
    }

    .word {
        width: 100%;
        margin-left: 1%;
        font-size: 13pt;
    }

    .word-1 {
        width: 100%;
        font-size: 13pt;
        margin-left: 1%;
    }

    .word-2 {
        width: 100%;
        font-size: 13pt;
        margin-left: 1%;
        margin-bottom: 10%;
        margin-top: 2%;
    }

    .doc-image {
        width: 35%;
        margin-right: 5%;
    }

    .doc {
        width: 100%;
    }

    .butt {
        display: block;
        width: 7em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        font-size: 15pt;
        font-weight: 800;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: white;
    }

    .p-menu1 {
        display: none;
    }

    .section-two {
        width: 93%;
        margin-left: 2%;
        margin-top: 5%;
    }

    .info-boxes {
        width: 100%;
        margin-left: 2%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 0%;
    }

    .how-it {
        width: 100%;
        font-size: 30pt;
        font-weight: 900;
        text-align: center;
        margin-left: 5%;
        margin-top: 0%;
    }

    .box-one {
        width: 30%;
        padding-bottom: 8%;
        padding-top: 2%;
    }

    .box-two {
        width: 30%;
    }

    .box-three {
        width: 30%;
    }

    .info-img {
        width: 40%;
        margin-left: 30%;
    }

    .bold {
        width: 100%;
        font-size: 13pt;
    }

    .info {
        width: 80%;
        font-size: 11pt;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .section-three {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20%;        
    }

    .section-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .num-one {
        width: 13%;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
        margin-top: 0%;
    }

    .num-two {
        margin-top: 0%;
        width: 13%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .num-three {
        width: 13%;
        padding-bottom: 1%;
        padding-top: 1%;
        margin-top: 0%;
    }

    .appt {
        width: 100%;
        text-align: center;
        font-size: 16pt;
        font-weight: 700;
    }

    .img-keep {
        width: 30%;
        margin-top: 3%;
        margin-left: 35%
    }

    .dsc {
        width: 100%;
        text-align: center;
        font-size: 12pt;
        margin-top: 25%;
    }

    .dsc-1 {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        margin-top: 6%;
    }

    .img-keep-1 {
        width: 35%;
        margin-top: 5%;
    }

    .coy-name {
        margin-top: 15%;
    }

    .big {
        width: 100%;
        text-align: center;
        font-size: 25pt;
        font-weight: 900;
    }

    .small {
        font-size: 13pt;
        margin-top: -2%;
    }

    .section-four {
        margin-top: 0%;
    }

    .order-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .order-one {
        width: 28%;
        padding-top: 1%;
        padding-bottom: 2%;
    }

    .tel {
        width: 100%;
        text-align: center;
        font-size: 20pt;
    }

    .price {
        font-size: 15pt;
    }

    .star {
        width: 30%;
        margin-left: 35%;
    }

    .wait, .min, .aval, .hour {
        font-size: 15pt;
    }

    .review {
        font-size: 27pt;
        font-weight: 800;
        margin-top: 10%;
    }

    .rv-holder {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .rv-box {
        width: 30%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 5%;
    }

    .timi {
        height: 26%;
        width: 13%;
        margin-left: 40%;
        border-radius: 50%;
        border-style: inset;
        border: 4px solid grey;
    }

    .bigger {
        width: 100%;
        text-align: center;
        font-size: 18pt;
        font-weight: 900;
    }

    .twink {
        width: 30%;
        margin-left: 35%;
    }

    .life {
        font-size: 13pt;
    }

    .section-five {
        width: 90%;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact {
        font-size: 23pt;
    }

    .contact-section {
        padding-top: 5%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .client-section {
        margin-top: 5%;
    }

    input {
        width: 75%;
        font-size: 11pt;
        font-weight: 500;
        margin-bottom: 3%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: dashed;
        border-color: #3498db;
    }

    .message {
        width: 75%;
        font-size: 12pt;
        font-weight: 500;
        padding-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: dashed;
        border-color: #3498db;
    }

    .pic-wrapper {
        width: 50%;
        margin-top: -12%;
    }

    .linkup {
        width: 100%
    }

    .submit {
        width: 22%;
        margin-left: 30%;
        margin-top: 12%;
    }

    a {
        display: inline-block;
        color: white;
        padding: 0.0em 0.20em;
        padding-top: 0.3em;
        width: 2em;
        height: fit-content;
        font-size: 14pt;
        position: relative;
        overflow: visible;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    
    a {
        font-size: 13pt;
        height: 40px;
        width: 6em;
        margin-top: 0%;
    }

    a span:nth-child(1) {
        background-color: red;
    }

    a span:nth-child(3) {
        background-color: red;
    }

    .section-six {
        margin-top: 10%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid wheat;

    }

    .boldd {
        font-size: 18pt;
    }

    li {
        font-size: 13pt;
    }

    .white-logo {
        width: 18%;
        margin-left: 40%;
        margin-top: 0%;
    }
    
}




/*@media (min-width: 768px) {

    .universal-content {
        width: 100%;
    }

    .navbar {
        width: 98%;
        padding-right: 2%;
    }

    .p-menu1 {
        display: none;
    }

    .coy-logo {
        width: 15%;
        margin-left: 2%
    }

    .items {
        width: 70%;
        margin-right: 2%;
        font-size: 10pt;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        display: block;
        width: 100%;
        font-size: 10pt;
    }

    .section-one {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .health {
        width: 100%;
        font-size: 12pt;
        margin-bottom: 2%;
    }

    .line {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 11pt;
    }

    .mark {
        width: 5%;
    }

    .mark-2 {
        margin-bottom: 4%;
    }

    .word {
        width: 100%;
        margin-left: 1%;
        font-size: 10pt;
    }

    .word-1 {
        width: 100%;
        font-size: 10pt;
        margin-left: 1%;
    }

    .word-2 {
        width: 100%;
        font-size: 10pt;
        margin-left: 1%;
        margin-bottom: 10%;
    }

    .doc-image {
        width: 25%;
        margin-right: 5%;
    }

    .section-two {
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
    }

    .info-boxes {
        width: 90%;
        margin-left: 10%;
        margin-top: 4%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .how-it {
        width: 100%;
        font-size: 20pt;
        font-weight: 900;
        text-align: center;
    }

    .box-one {
        width: 30%;
        padding-bottom: 8%;
        padding-top: 8%;
    }

    .box-two {
        width: 30%;
    }

    .box-three {
        width: 30%;
    }

    .info-img {
        width: 40%;
        margin-left: 30%;
    }

    .bold {
        width: 100%;
        font-size: 11pt;
    }

    .info {
        width: 80%;
        font-size: 10pt;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .section-three {
        width: 90%;
        margin-top: 15%;        
    }

    .section-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .num-one {
        width: 10%;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
    }

    .num-two {
        width: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .num-three {
        width: 10%;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
    }

    .appt {
        width: 100%;
        text-align: center;
        font-size: 12pt;
        font-weight: 500;
    }

    .img-keep {
        width: 30%;
        margin-top: 3%;
    }

    .dsc {
        width: 100%;
        text-align: center;
        font-size: 12pt;
        margin-top: 30%;
    }

    .dsc-1 {
        font-size: 12pt;
        width: 100%;
        text-align: center;
    }

    .img-keep-1 {
        width: 30%;
        margin-top: 5%;
    }

    .coy-name {
        margin-top: 15%;
    }

    .big {
        width: 100%;
        text-align: center;
        font-size: 20pt;
        font-weight: 800;
    }

    .small {
        font-size: 10pt;
        margin-top: -2%;
    }

    .section-four {
        width: 90%;
        margin-left: 5%;
    }

    .order-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .order-one {
        width: 28%;
        padding-top: 1%;
        padding-bottom: 2%;
    }

    .tel {
        width: 100%;
        text-align: center;
        font-size: 18pt;
    }

    .price {
        font-size: 13pt;
    }

    .star {
        width: 30%;
        margin-left: 35%;
    }

    .wait, .min, .aval, .hour {
        font-size: 13pt;
    }

    .review {
        font-size: 18pt;
        font-weight: 800;
        margin-top: 10%;
    }

    .rv-holder {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .rv-box {
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 5%;
    }

    .timi {
        height: 25%;
        width: 13%;
        margin-left: 40%;
        border-radius: 50%;
        border-style: inset;
        border: 4px solid grey;
    }

    .bigger {
        width: 100%;
        text-align: center;
        font-size: 15pt;
        font-weight: 900;
    }

    .twink {
        width: 30%;
        margin-left: 35%;
    }

    .life {
        font-size: 11pt;
    }

    .section-five {
        width: 85%;
        margin-top: 10%;
        margin-left: 8%;
    }

    .contact {
        font-size: 18pt;
    }

    .contact-section {
        padding-top: 5%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    input {
        width: 70%;
        font-size: 10pt;
        font-weight: 500;
        padding-bottom: 0%;
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 0%;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: dashed;
        border-bottom: 1px solid cornflowerblue;
    }

    .message {
        width: 70%;
        font-size: 10pt;
        font-weight: 500;
        padding-bottom: 0%;
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 0%;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: dashed;
        border-bottom: 1px solid cornflowerblue;
    }

    .pic-wrapper {
        width: 40%;
        margin-top: -10%;
    }

    .linkup {
        width: 90%
    }

    .submit {
        width: 30%;
        margin-left: 20%;
        padding-top: 1.5%;
        padding-bottom: 0.5%;
        margin-top: 12%;
    }

    a {
        font-size: 12pt;
        height: 30px;
        width: 6em;
        margin-top: 0%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid wheat;
    }

    .boldd {
        font-size: 16pt;
    }

    li {
        font-size: 11pt;
    }

    .white-logo {
        width: 15%;
        margin-left: 40%;
        margin-top: 0%;
    }

}


@media (min-width: 475px) {
    .universal-content {
        width: 100%;
    }

    .navbar {
        height: 80px;
        width: 100%;
    }

    .coy-logo {
        width: 50%;
        margin-left: 2%;
    }

    .items {
        width: 35%;
    }

    .nav-but {
        display: none;
        width: 20%;
    }

    .section-one {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        width: 98.9%;
    }

    .heaith-section {
        width: 90%;
    }

    .health {
        margin-top: 20%;
        position: relative;
        width: 90%;
    }

    .line {
        display: flex;
    }

    .word-1 {
        width: 98%;
    }

    .word-2 {
        width: 98%;
    }

    .mark-2 {
        width: 7%;
        margin-top: -2%;
    }

    .mark {
        width: 7%;
    }

    .word {
        margin-left: 1%;
        width: 100%;
    }

    .btn {
        display: block;
        width: 100%;
        margin-left: 5%;
    }

    .butt {
        display: block;
        width: 100%;
    }

    .doc-image {
        width: 60%;
        margin-right: 25%;
    }
    
    img {
        width: 60%;
        margin-left: 5%;
    }
    
    .section-two {
        width: 90%;
    }

    .info-boxes {
        width: 100%;
    }

    .how-it {
        width: 100%;
    }

    .box-one {
        width: 75%;
    }

    .box-two {
        width: 75%;
    }

    .box-three {
        width: 75%;
    }

    .info-img {
        width: 50%;
    }

    .info-img-drug {
        width: 22%;
        position: relative;
    }

    .bold {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28pt;
        width: 100%;
    }

    .bold-1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14pt;
        width: 100%;
    }

    .info {
        width: 80%;
    }

    .section-three {
        width: 90%;
    }

    .section-wrapper {
        display: flex;
    }

    .num-one {
        margin-top: 10%;
        width: 40%;
    }

    .img-keep {
        width: 30%;
    }

    .img-keep-1 {
        width: 30%;
    }

    .dsc {
        width: 100%;
    }

    .dsc-1 {
        width: 100%;
    }

    .num-two {
        margin-top: 10%;
        width: 40%;
    }

    .num-three {
        margin-top: 5%;
        width: 40%;
    }

    .appt {
        width: 100%;
    }

    .coy-name {
        width: 96%;
    }

    .big {
        width: 100%;
    }

    .small {
        width: 100%;
    }

    .section-four {
        width: 90%;
    }

    .order-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .order-one {
        margin-top: 15%;
        width: 60%;
    }

    .tel {
        width: 100%;
    }

    .review {
        width: 100%;
    }

    .rv-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-five {
        width: 98%;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
    }

    input {
        height: 40px;
        width: 90%;
    }

    .message {
        height: 40px;
        width: 90%;
    }

    .submit {
        display: block;
    }

    .menu1 {
        width: 40%;
    }

    .section-six {
        width: 100%;
    }

    .white-logo {
        margin-top: 2%;
        margin-left: 35%;
        width: 30%;
    }
    
    .footer {
        width: 72%;
        display: flex;
        flex-direction: column;
    }
    
    
    
    

    

    
    
    
    
    
    
}